@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"), local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"), local("Gilroy ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

.visuallyhidden:not(:focus),
input[type="checkbox"].visuallyhidden,
input[type="radio"].visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

body {
  min-width: 1200px;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.btn {
  display: inline-block;
  padding: 8px 40px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(transparent 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 23px, #f4d361 23px, #f4d361 24px, transparent 24px);
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #f0c52e;
  background-image: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header {
  position: relative;
  width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding: 21px 60px 15px;
  background-image: linear-gradient(transparent 40px, #f7e296 40px);
}

.page-header--catalog {
  padding-bottom: 47px;
}

.page-header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 52px;
}

.page-header__logo {
  position: absolute;
  top: 21px;
  left: 59px;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__field {
  width: 355px;
  min-height: 49px;
  padding: 8px 20px 7px 40px;
  font: inherit;
  background-color: transparent;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 3px 16px;
  border: none;
  outline: none;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.search__field:focus {
  border-bottom-color: #000000;
}

.search__field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__field:hover::-webkit-input-placeholder,
.search__field:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover:-ms-input-placeholder,
.search__field:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::-ms-input-placeholder,
.search__field:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::placeholder,
.search__field:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__field::-webkit-search-cancel-button {
  display: none;
}

.search__field::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.search__btn {
  position: relative;
  top: -10000px;
  width: 85px;
  padding: 8px 10px 7px;
  text-align: center;
  background-color: transparent;
  border: solid 2px #000000;
  outline: none;
}

.search__btn:hover,
.search__btn:focus,
.search__btn:active {
  top: 0;
  color: #ffffff;
  background-color: #000000;
}

.search__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.search__field:focus + .search__btn {
  top: 0;
}

.options-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.options-menu--profile {
  margin-left: 60px;
}

.options-menu__link {
  margin-left: 38px;
  padding-left: 26px;
  color: inherit;
  text-decoration: none;
}

.options-menu__link:hover,
.options-menu__link:focus {
  opacity: 0.6;
}

.options-menu__link:active {
  opacity: 0.3;
}

.options-menu__link--profile {
  background-image: url("../img/icons/profile.svg");
  background-repeat: no-repeat;
  background-position: 2px 4px;
}

.options-menu__link--compare {
  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 7px 6px;
}

.options-menu__link--cart {
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 4px 4px;
}

.options-menu__link--footer {
  position: relative;
  margin-left: 37px;
  color: rgba(255, 255, 255, 0.7);
  background-image: none;
}

.options-menu__link--footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 36px;
}

.options-menu__link--footer:hover,
.options-menu__link--footer:focus {
  color: #ffffff;
  opacity: 1;
}

.options-menu__link--footer:hover::before,
.options-menu__link--footer:focus::before {
  opacity: 0.6;
}

.options-menu__link--footer:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.options-menu__link--footer:active::before {
  opacity: 0.6;
}

.options-menu__link--footer-profile::before {
  background-image: url("../img/icons/profile-footer.svg");
  background-repeat: no-repeat;
  background-position: 1px 4px;
}

.options-menu__link--footer-compare::before {
  background-image: url("../img/icons/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 7px 6px;
}

.options-menu__link--footer-cart::before {
  background-image: url("../img/icons/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 5px 4px;
}

.options-menu__logout-link {
  margin-left: 0;
  padding-left: 23px;
  opacity: 0.3;
}

.options-menu__logout-link-footer {
  padding-left: 19px;
}

.nav {
  width: 100%;
}

.nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav__item {
  margin: 27px 0 0 38px;
}

.nav__item--catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
  margin-right: 250px;
  margin-left: 0;
}

.nav__item:last-child {
  margin-left: auto;
}

.nav__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__spoiler-btn {
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-left: 11px;
  text-indent: 100px;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.nav__spoiler-btn:focus {
  outline: solid 2px rgba(0, 0, 0, 0.6);
}

.nav__spoiler-btn::before,
.nav__spoiler-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  width: 2px;
  height: 16px;
  background-color: #000000;
}

.nav__spoiler-btn::before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav__spoiler-btn--on {
  display: block;
}

.nav__spoiler-btn--off {
  display: none;
}

.nav__spoiler-btn--off::after {
  content: none;
}

.categories-cat {
  position: absolute;
  top: 52px;
  left: -60px;
  z-index: 1;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 23px 60px 34px;
  background-color: #f7e296;
}

.categories-cat__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  width: 160px;
  padding-right: 40px;
  line-height: 36px;
}

.categories-cat__list:first-child {
  width: 200px;
}

.categories-cat__link[href]:hover,
.categories-cat__link[href]:focus {
  opacity: 0.6;
}

.categories-cat__link[href]:active {
  opacity: 0.3;
}

.nav__item--catalog:hover .categories-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo {
  position: relative;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.promo__label {
  position: absolute;
  bottom: 179px;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 10px;
  height: 10px;
  text-indent: 100px;
  white-space: nowrap;
  border: solid 1px #000000;
  border-radius: 50%;
}

.promo__label:hover,
.promo__label:focus {
  opacity: 0.6;
}

.promo__label:active {
  opacity: 0.3;
}

.promo__label--1 {
  right: 149px;
}

.promo__label--2 {
  right: 116px;
}

.promo__label--3 {
  right: 83px;
}

.promo__toggler:checked + .promo__label {
  -webkit-box-shadow: inset 0 0 0 3px #ffffff, inset 0 0 0 4px #000000;
  box-shadow: inset 0 0 0 3px #ffffff, inset 0 0 0 4px #000000;
}

.promo__toggler:focus + .promo__label {
  -webkit-box-shadow: 0 0 0 2px #f0c52e, inset 0 0 0 3px #ffffff, inset 0 0 0 4px #000000;
  box-shadow: 0 0 0 2px #f0c52e, inset 0 0 0 3px #ffffff, inset 0 0 0 4px #000000;
}

.promo__properties {
  margin-top: 42px;
}

.slides-promo {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: item;
  position: relative;
}

.slides-promo__item {
  position: fixed;
  left: -10000px;
  padding: 40px 60px 40px 600px;
  background-image: linear-gradient(#f7e296 145px, transparent 145px);
  outline: none;
}

.slides-promo__item::before {
  content: "0" counter(item);
  counter-increment: item;
  position: absolute;
  top: 20px;
  right: 48px;
  font-weight: 800;
  font-size: 180px;
  line-height: 1;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #ffffff;
}

.promo__toggler--1:checked ~ .slides-promo .slides-promo__item--1,
.promo__toggler--2:checked ~ .slides-promo .slides-promo__item--2,
.promo__toggler--3:checked ~ .slides-promo .slides-promo__item--3 {
  position: relative;
  left: 0;
}

.slides-promo__img {
  position: absolute;
}

.slides-promo__img--1 {
  top: 35px;
  left: 90px;
}

.slides-promo__img--2 {
  top: 46px;
  left: 116px;
}

.slides-promo__img--2 {
  top: 46px;
  left: 116px;
}

.slides-promo__img--3 {
  top: 99px;
  left: 31px;
}

.slides-promo__lead {
  position: relative;
  margin: 0;
  padding: 55px 0 20px;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Verdana", sans-serif;
}

.slides-promo__lead::before {
  content: "";
  position: absolute;
  top: 13px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slides-promo__descr {
  margin: 0;
  color: #464646;
}

.slides-promo__link {
  width: 140px;
  margin-top: 42px;
}

.properties-promo {
  border-spacing: 0;
}

.properties-promo__value {
  width: 150px;
  padding: 8px 10px 0 0;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
}

.properties-promo__value--weight {
  width: 130px;
}

.properties-promo__property {
  width: 150px;
  padding: 7px 10px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.properties-promo__property--weight {
  width: 130px;
}

.categories {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 74px 0 41px;
}

.categories__item {
  width: 160px;
  margin-right: 40px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
}

.categories__item:nth-child(6n) {
  margin-right: 0;
}

.categories__link {
  position: relative;
  display: block;
  padding-top: 193px;
  background-image: linear-gradient(#f7e296 160px, transparent 160px);
}

.categories__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.categories__link:hover,
.categories__link:focus,
.categories__link:active {
  background-image: linear-gradient(#f0c52e 160px, transparent 160px);
}

.categories__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories__link:active::before {
  opacity: 0.3;
}

.categories__link--1::before {
  background-image: url("../img/icons/category-1.svg");
  background-repeat: no-repeat;
  background-position: 31px 52px;
}

.categories__link--2::before {
  background-image: url("../img/icons/category-2.svg");
  background-repeat: no-repeat;
  background-position: 38px 41px;
}

.categories__link--3::before {
  background-image: url("../img/icons/category-3.svg");
  background-repeat: no-repeat;
  background-position: 49px 38px;
}

.categories__link--4::before {
  background-image: url("../img/icons/category-4.svg");
  background-repeat: no-repeat;
  background-position: 28px 50px;
}

.categories__link--5::before {
  background-image: url("../img/icons/category-5.svg");
  background-repeat: no-repeat;
  background-position: 55px 32px;
}

.categories__link--6::before {
  background-image: url("../img/icons/category-6.svg");
  background-repeat: no-repeat;
  background-position: 13px 49px;
}

.services {
  position: relative;
  padding: 0 calc(50% - 580px) 69px;
  background-image: linear-gradient(transparent 100px, #e5e5e5 100px);
}

.services__label {
  position: absolute;
  width: 144px;
  padding: 8px;
}

.services__label--1 {
  top: 80px;
}

.services__label--2 {
  top: 144px;
}

.services__label--3 {
  top: 209px;
}

.services__label::after {
  content: none;
  position: absolute;
  top: 0;
  right: -117px;
  width: 117px;
  height: 40px;
  background-color: #000000;
}

.services__toggler:checked + .services__label {
  color: #f7e184;
  background-color: black;
  background-image: none;
  cursor: default;
}

.services__toggler:checked + .services__label::after {
  content: "";
}

.services__label:active {
  color: #f7e296;
  background-color: #000000;
}

.services__label:active::after {
  content: "";
}

.services__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.services__item {
  position: fixed;
  left: -10000px;
  margin: 0 0 0 277px;
  border-left: solid 7px #000000;
}

.services__toggler--1:checked ~ .services__list .service--1,
.services__toggler--2:checked ~ .services__list .service--2,
.services__toggler--3:checked ~ .services__list .service--3 {
  position: static;
}

.service {
  padding: 73px 320px 78px 115px;
  background-repeat: no-repeat;
}

.service--1 {
  background-image: url("../img/icons/service-delivery.svg");
  background-position: right 66px top 85px;
}

.service--2 {
  background-image: url("../img/icons/service-warranty.svg");
  background-position: right 46px top 61px;
}

.service--3 {
  background-image: url("../img/icons/service-credit.svg");
  background-position: right 70px top 61px;
}

.service__title {
  margin: 0 0 30px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
}

.service__descr {
  margin: 0;
  color: #464646;
}

.partners {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding: 94px 0 84px;
}

.partners__link {
  position: relative;
}

.partners__link::after {
  content: "";
  position: absolute;
  top: -84px;
  left: 0;
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.partners__link:hover::after,
.partners__link:focus::after {
  opacity: 0;
}

.partners__link--1::after {
  background-image: url("../img/partner-1-gray.png");
}

.partners__link--2::after {
  background-image: url("../img/partner-2-gray.png");
}

.partners__link--3::after {
  background-image: url("../img/partner-3-gray.png");
}

.partners__link--4::after {
  background-image: url("../img/partner-4-gray.png");
}

.info {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 82px;
}

.info__item {
  width: 700px;
}

.info__title {
  position: relative;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
  margin: 0;
  padding: 52px 0 44px;
}

.info__title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.info__descr {
  margin: 0 105px 30px 0;
  letter-spacing: 0;
  color: #464646;
}

.info__descr--contacts {
  margin-right: 0;
}

.info__link {
  width: 240px;
  padding-right: 10px;
  padding-left: 10px;
}

.partners-about {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 65px 0 54px;
}

.partners-about__item {
  position: relative;
  padding-left: 36px;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0;
}

.partners-about__item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 1px;
  width: 4px;
  height: 4px;
  border: solid 2px #e5e5e5;
  border-radius: 50%;
}

.contacts {
  width: 560px;
  padding-left: 20px;
}

.contacts__map-link {
  display: block;
  width: 560px;
  height: 222px;
  margin-top: 38px;
  margin-bottom: 69px;
  background-color: #ebe8e7;
}

.contacts__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  text-indent: 100px;
  white-space: nowrap;
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  outline: none;
  opacity: 0.5;
}

.contacts__close:hover,
.contacts__close:focus {
  opacity: 1;
}

.contacts__close:active {
  opacity: 0.3;
}

.contacts__close::before,
.contacts__close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 12px;
  width: 31px;
  height: 2px;
  background-color: #ffffff;
}

.contacts__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contacts__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.map {
  position: fixed;
  top: calc(50vh - 280px);
  left: calc(50% - 480px);
  z-index: 1;
  display: none;
  width: 960px;
  height: 510px;
  margin: 0;
  background-color: #ebe8e7;
  background-image: url("../img/map-popup.png");
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.map--js {
  display: block;
}

.feedback {
  position: fixed;
  top: calc(50vh - 280px);
  left: calc(50% - 480px);
  z-index: 1;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
  padding: 93px 100px 78px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feedback:target,
.feedback--js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__item {
  width: 360px;
  margin: 0;
}

.feedback__item--text {
  width: 100%;
}

.feedback__param {
  display: block;
  margin: 0 0 7px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: none;
}

.feedback__field {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 33px;
  padding: 16px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.feedback__field--textarea {
  min-height: 156px;
  resize: none;
}

.feedback__field:invalid {
  background-color: #f6dada;
}

.feedback__field:hover {
  background-color: #eaeaea;
}

.feedback__field:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #f7e296;
  box-shadow: inset 0 0 0 3px #f7e296;
}

.feedback__field::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback__field:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback__field::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback__field::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback__submit {
  margin-top: 8px;
  padding-right: 34px;
  padding-left: 34px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog__title {
  margin: 37px 0 24px;
  padding: 0 calc(50% - 520px);
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
}

.catalog__header {
  padding-top: 23px;
  padding-bottom: 23px;
}

.catalog__subtitle {
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.catalog__subtitle::after {
  content: ":";
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding: 0 calc(50% - 520px) 46px;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs__item {
  margin-right: 15px;
}

.breadcrumbs__item::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  width: 4px;
  height: 4px;
  border-right: solid 2px #000000;
  border-bottom: solid 2px #000000;
  -webkit-transform: translate(0, -2px) rotate(-45deg);
  transform: translate(0, -2px) rotate(-45deg);
}

.breadcrumbs__link {
  opacity: 0.3;
}

.breadcrumbs__link[href]:hover,
.breadcrumbs__link[href]:focus {
  opacity: 0.6;
}

.breadcrumbs__link[href]:active {
  opacity: 0.1;
}

.filter {
  width: calc(50% - 252px);
  background-color: #eeeeee;
  border-bottom: solid 4px #ffffff;
}

.filter__header {
  padding-right: 70px;
  padding-left: calc(100% - 270px);
  background-color: #dcdcdc;
}

.filter__form {
  padding: 49px 68px 70px calc(100% - 269px);
}

.filter__btn {
  width: 100%;
  margin-top: 30px;
}

.cat-filter {
  margin: 20px 0 0;
  padding: 0;
  border: none;
}

.cat-filter__title {
  width: 100%;
  padding: 10px 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  border-top: solid 2px #000000;
}

.cat-filter__opt {
  font-size: 14px;
  line-height: 40px;
}

.choose-cost {
  position: relative;
  margin-top: 14px;
  padding-top: 22px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(transparent 11px, #dbdbdb 11px, #dbdbdb 13px, transparent 13px);
}

.choose-cost__range {
  position: absolute;
  top: 11px;
  left: 4px;
  width: 113px;
  height: 2px;
  background-color: #91c92f;
}

.choose-cost__group {
  display: inline-block;
}

.choose-cost__group--max {
  margin-left: 30px;
}

.choose-cost__point {
  position: absolute;
  top: 1px;
  overflow: hidden;
  width: 4px;
  height: 4px;
  padding: 2px;
  text-indent: 1000px;
  white-space: nowrap;
  background-color: #ababab;
  border: solid 8px #ffffff;
  border-radius: 50%;
  outline: none;
  -webkit-box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.choose-cost__point:active {
  top: 0;
  border-width: 9px;
}

.choose-cost__point--min {
  left: -5px;
}

.choose-cost__point--min:active {
  left: -6px;
}

.choose-cost__point--max {
  left: 108px;
}

.choose-cost__point--max:active {
  left: 107px;
}

.choose-cost__field {
  width: 39px;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  -moz-appearance: textfield;
}

.choose-cost__field::-webkit-outer-spin-button,
.choose-cost__field::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.choose-color {
  margin: 0;
}

.choose-color:first-of-type {
  margin-top: 8px;
}

.choose-color:last-of-type {
  margin-bottom: 11px;
}

.choose-color__param {
  position: relative;
  padding: 0 0 0 39px;
}

.choose-color__param::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
}

.choose-color__param:hover::before,
.choose-color__value:focus + .choose-color__param::before {
  opacity: 0.6;
}

.choose-color__value:active:not(:disabled) + .choose-color__param::before {
  opacity: 1;
}

.choose-color__value:checked + .choose-color__param::before,
.choose-color__value:active:not(:disabled) + .choose-color__param::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.choose-color__value:checked:active:not(:disabled) + .choose-color__param::before {
  background-image: url("../img/icons/checkbox-off.svg");
}

.choose-color__value:disabled + .choose-color__param {
  opacity: 0.25;
}

.choose-color__value:disabled + .choose-color__param:hover::before,
.choose-color__value:disabled + .choose-color__param:hover::after {
  opacity: 1;
}

.choose-bt {
  margin: 0;
}

.choose-bt:first-of-type {
  margin-top: 8px;
}

.choose-bt:last-of-type {
  margin-bottom: 1px;
}

.choose-bt__param {
  position: relative;
  padding: 0 0 0 39px;
}

.choose-bt__param::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -1px;
  width: 17px;
  height: 17px;
  border: solid 4px #000000;
  border-radius: 50%;
}

.choose-bt__param::after {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.choose-bt__param:hover::before,
.choose-bt__param:hover::after,
.choose-bt__value:focus + .choose-bt__param::before,
.choose-bt__value:focus + .choose-bt__param::after {
  opacity: 0.6;
}

.choose-bt__value:active:not(:disabled) + .choose-bt__param::before,
.choose-bt__value:active:not(:disabled) + .choose-bt__param::after {
  opacity: 1;
}

.choose-bt__value:checked + .choose-bt__param::after,
.choose-bt__value:active:not(:disabled) + .choose-bt__param::after {
  content: "";
}

.choose-bt__value:disabled + .choose-bt__param {
  opacity: 0.25;
}

.choose-bt__value:disabled + .choose-bt__param:hover::before,
.choose-bt__value:disabled + .choose-bt__param:hover::after {
  opacity: 1;
}

.offers {
  width: calc(50% + 252px);
}

.offers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: calc(100% - 830px);
  padding-left: 70px;
  background-color: #ebebeb;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding: 23px calc(100% - 832px) 0 72px;
}

.offers__item {
  width: 360px;
  margin-top: 46px;
}

.offers__footer {
  margin: 35px calc(100% - 832px) 77px 72px;
  background-color: #ebebeb;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-left: 48px;
}

.sort--order {
  margin-left: auto;
}

.sort__item {
  margin: 0 30px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

.sort__item--order {
  overflow: hidden;
  width: 11px;
  height: 18px;
  margin: 0 0 0 16px;
}

.sort__link {
  opacity: 1;
}

.sort__link[href] {
  opacity: 0.3;
}

.sort__link[href]:hover,
.sort__link[href]:focus {
  opacity: 0.6;
}

.sort__link[href]:active {
  opacity: 1;
}

.sort__link--order[href] {
  opacity: 0.2;
}

.sort__link--order[href]:hover,
.sort__link--order[href]:focus {
  opacity: 0.4;
}

.sort__link--order[href]:active {
  opacity: 1;
}

.sort__link--order::before {
  content: "";
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: solid 5px transparent;
}

.sort__link--order-asc::before {
  border-top: none;
  border-bottom: solid 10px #000000;
}

.sort__link--order-desc::before {
  border-bottom: none;
  border-top: solid 10px #000000;
}

.offer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.offer__options {
  position: absolute;
  top: 0;
  width: 360px;
  min-height: 380px;
}

.offer__img {
  margin-bottom: 32px;
}

.offer__title {
  margin: 0;
  padding: 0;
  width: 260px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
}

.offer__price {
  margin: 1px 0 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #464646;
}

.offer__new-tag {
  position: absolute;
  top: 29px;
  right: 27px;
  margin: 0;
  padding: 17px 10px 15px 13px;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.options-offer {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.options-offer__link {
  position: relative;
  top: -10000px;
}

.options-offer__choose {
  left: 1px;
  margin: 172px 15px 15px;
  padding-right: 36px;
  padding-left: 36px;
}

.options-offer__compare {
  display: block;
  font-size: 13px;
  line-height: 36px;
  -webkit-transform: translate(2px, -9px);
  transform: translate(2px, -9px);
  opacity: 0.5;
}

.options-offer__compare:hover,
.options-offer__compare:focus {
  opacity: 1;
}

.options-offer__compare:active {
  opacity: 0.2;
}

.options-offer:hover {
  background-color: rgba(238, 238, 238, 0.7);
}

.options-offer:hover .options-offer__link {
  top: 0;
}

.options-offer__link:focus {
  top: 0;
}

.pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding: 0 238px 0 242px;
}

.pagination__item {
  margin: 24px 14px 21px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination__item--prev {
  position: absolute;
  top: -24px;
  left: -14px;
  max-width: 200px;
}

.pagination__item--next {
  position: absolute;
  top: -24px;
  right: -14px;
  max-width: 200px;
}

.pagination__link {
  font-size: 16px;
  opacity: 0.3;
}

.pagination__link:hover,
.pagination__link:focus {
  opacity: 0.6;
}

.pagination__link:active,
.pagination__link:not([href]) {
  opacity: 1;
}

.pagination__link--prev,
.pagination__link--next {
  display: block;
  padding: 23px 28px;
  opacity: 1;
}

.pagination__link--prev:hover,
.pagination__link--prev:focus,
.pagination__link--next:hover,
.pagination__link--next:focus {
  background-color: #d9d9d9;
  opacity: 1;
}

.pagination__link--prev:active,
.pagination__link--next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.page-footer {
  position: relative;
  padding: 60px calc(50% - 580px) 43px;
  color: #ffffff;
  background-color: #464646;
}

.page-footer::before {
  content: "";
  position: absolute;
  bottom: 79px;
  left: calc(50% - 580px);
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.page-footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-footer__group--options {
  padding-left: 200px;
}

.page-footer__logo {
  position: absolute;
  top: 65px;
  left: calc(50% - 581px);
}

.page-footer__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  line-height: 36px;
}

.page-footer__options--profile {
  margin-left: auto;
}

.page-footer__address {
  width: 260px;
  margin-top: 10px;
  letter-spacing: 0;
}

.page-footer__services {
  width: 640px;
}

.page-footer__tel {
  width: 260px;
  margin-bottom: 5px;
  letter-spacing: 0;
  text-align: right;
}

.page-footer__socials {
  margin: 0 120px;
}

.page-footer__dev {
  position: absolute;
  right: calc(50% - 580px);
  bottom: 58px;
}

.services-footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services-footer__item {
  margin: 40px 17px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-footer__item:hover,
.services-footer__item:focus {
  opacity: 0.6;
}

.services-footer__item:active {
  opacity: 0.3;
}

.socials {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.socials__item {
  margin: 24px 11px;
}

.socials__link {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: 100000px;
  white-space: nowrap;
  opacity: 0.3;
}

.socials__link--fb {
  background-image: url("../img/icons/socials-fb.svg");
}

.socials__link--instagram {
  background-image: url("../img/icons/socials-instagram.svg");
}

.socials__link--twitter {
  background-image: url("../img/icons/socials-twitter.svg");
}

.socials__link:hover,
.socials__link:focus {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

.dev:hover,
.dev:focus {
  opacity: 0.6;
}

.dev:active {
  opacity: 0.3;
}
